.buttonsToHideAndDone {
    color: hsl(180, 100%, 25%);
    border: none;
    background-color: white;
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.buttonsToHideAndDone:disabled {
    color: rgb(184, 179, 179);
}