.list{
    display: grid;
    grid-template-columns:auto 1fr auto;
    list-style: none;
    padding: 10px;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.list__button{
    height: 30px;
    width: 30px;
    border-style: none;
    background-color: hsl(120, 100%, 25%);
    margin-left: 0px;
}

.list__item{
    padding: 10px;
}

.list__button-remove{
    background-color: hsl(348, 83%, 47%);
    border-style: none;
    height: 30px;
}
.list__button-done{
    color: white;
}
.list__content--done{
    text-decoration: line-through;
}

.list__button-remove:hover{
    background-color: hsl(348, 83%, 52%);
}

.list__button-remove:active{
    background-color: hsl(348, 83%, 57%);
}

.list__button:hover{
    background-color: hsl(120, 100%, 30%);
}

.list__button:active{
    background-color: hsl(120, 100%, 35%);
}