.section {
    background-color: white;
    margin: 0;
}

.section__header {
    padding: 10px;
    font-weight: bold;
    margin: 0;
}

.section__mainHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

@media(max-width: 767px) {
    .section__mainHeader {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 767px) {
    .section__buttons {
        display: grid;
        grid-template-rows: auto;
    }
}
.section__list{
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    font-size: 25px;
}

.section__tasks{
    padding: 20px;
    margin: 0;
    background-color: white;
}
.section__tasks-item{
    padding-left: 0px;
}
